<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DsMwlService.SharedConfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DsMwlService.SharedConfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MwlAETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="MwlPort" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>2E-35-E6-98-C9-D7-2A-FB-95-B2-DA-3E-3A-E8-93-3B</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MppsAETitle" serializeAs="String">
                <value>DsMPPSServer</value>
            </setting>
            <setting name="MWLResponseBufferCapacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MppsPort" serializeAs="String">
                <value>2122</value>
            </setting>
        </DsMwlService.SharedConfig.SharedConfig>
    </applicationSettings>
</configuration>