<?xml version="1.0"?><configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AdminWebServer.SharedConfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="mwladminwebserver.SharedConfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="mwladminwebserver.Sharedconfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="mwladminwebserver.sharedconfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mwladminwebserver.Sharedconfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings/>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <applicationSettings>
        <AdminWebServer.SharedConfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MwlAETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="MwlPort" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>2E-35-E6-98-C9-D7-2A-FB-95-B2-DA-3E-3A-E8-93-3B</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MppsAETitle" serializeAs="String">
                <value>DsMPPSServer</value>
            </setting>
            <setting name="MWLResponseBufferCapacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MppsPort" serializeAs="String">
                <value>2122</value>
            </setting>
        </AdminWebServer.SharedConfig.SharedConfig>
        <mwladminwebserver.SharedConfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MwlAETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="MwlPort" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>2E-35-E6-98-C9-D7-2A-FB-95-B2-DA-3E-3A-E8-93-3B</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MppsAETitle" serializeAs="String">
                <value>DsMPPSServer</value>
            </setting>
            <setting name="MppsPort" serializeAs="String">
                <value>2122</value>
            </setting>
            <setting name="MWLResponseBufferCapacity" serializeAs="String">
                <value>50</value>
            </setting>
        </mwladminwebserver.SharedConfig.SharedConfig>
        <mwladminwebserver.Sharedconfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>1a1dc91c907325c69271ddf0c944bc72</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
        </mwladminwebserver.Sharedconfig.SharedConfig>
        <mwladminwebserver.sharedconfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MaxResponsesToSend" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxSimultaneousClientsToHandle" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value/>
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>A8-0C-1F-A3-F5-0E-80-AF-4A-D9-E1-87-39-1D-09-A9</value>
            </setting>
        </mwladminwebserver.sharedconfig.SharedConfig>
    </applicationSettings>
                         <userSettings>
                             <mwladminwebserver.Sharedconfig.SharedConfig>
                                 <setting name="MWLResponseBufferCapacity" serializeAs="String">
                                     <value>50</value>
                                 </setting>
                             </mwladminwebserver.Sharedconfig.SharedConfig>
                         </userSettings>
</configuration>