<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MwlMppsDBBroker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MwlMppsDBBroker.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS2005;AttachDbFilename=|DataDirectory|\database\WorkListDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True</value>
            </setting>
        </MwlMppsDBBroker.Properties.Settings>
    </applicationSettings>
</configuration>