<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edgeteks.MWLServer.SharedConfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Edgeteks.MWLServer.Sharedconfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Edgeteks.MWLServer.sharedconfig.SharedConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ImageServerConnectString" connectionString="Data Source=.\SQLEXPRESS2005;AttachDbFilename=|DataDirectory|\database\WorkListDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Edgeteks.MWLServer.Properties.Settings.WorkListDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS2005;AttachDbFilename=|DataDirectory|\database\WorkListDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Edgeteks.MWLServer.SharedConfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MwlAETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="MwlPort" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>2E-35-E6-98-C9-D7-2A-FB-95-B2-DA-3E-3A-E8-93-3B</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MppsAETitle" serializeAs="String">
                <value>DsMPPSServer</value>
            </setting>
            <setting name="MWLResponseBufferCapacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MppsPort" serializeAs="String">
                <value>2122</value>
            </setting>
        </Edgeteks.MWLServer.SharedConfig.SharedConfig>
        <Edgeteks.MWLServer.Sharedconfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="MwlAETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="MwlPort" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MWLMaxResponsesToSend" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>1a1dc91c907325c69271ddf0c944bc72</value>
            </setting>
            <setting name="AcceptAllAETRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictedAET" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mwlscu;127.0.0.1;2110</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MppsAETitle" serializeAs="String">
                <value>DsMPPSServer</value>
            </setting>
            <setting name="MppsPort" serializeAs="String">
                <value>2122</value>
            </setting>
            <setting name="MWLResponseBufferCapacity" serializeAs="String">
                <value>50</value>
            </setting>
        </Edgeteks.MWLServer.Sharedconfig.SharedConfig>
        <Edgeteks.MWLServer.sharedconfig.SharedConfig>
            <setting name="LastUpdatedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>DsMWLServer</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2121</value>
            </setting>
            <setting name="MaxResponsesToSend" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxSimultaneousClientsToHandle" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastUpdatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPwdHash" serializeAs="String">
                <value>1a1dc91c907325c69271ddf0c944bc72</value>
            </setting>
        </Edgeteks.MWLServer.sharedconfig.SharedConfig>
    </applicationSettings>
</configuration>